<div
  *ngIf="topBanner; else preload"
  class="ps-block--promotion-header bg--cover"
  style="background: url(assets/img/banner/top/{{ topBanner['IMG tag'] }})"
>
  <div class="container" *ngIf="topBanner">
    <div class="ps-block__left">
      <h3>{{ topBanner["H3 tag"] }}</h3>
      <figure>
        <p>{{ topBanner["P1 tag"] }}</p>
        <h4>{{ topBanner["H4 tag"] }}</h4>
      </figure>
    </div>
    <div class="ps-block__center">
      <p>
        {{ topBanner["P2 tag"] }}<span>{{ topBanner["Span tag"] }}</span>
      </p>
    </div>
    <a class="ps-btn ps-btn--sm" href="#">{{ topBanner["Button tag"] }}</a>
  </div>
</div>

<ng-template #preload>
  <div
    class="ps-block--promotion-header bg--cover"
    style="background: url(assets/img/banner/top/header-promotion-1.jpg)"
  ></div>
</ng-template>
